@page "/denonciation"
@using JeBalance.UI.Data.Services.PubliqueAPI
@inject DenonciationServices Services
@inject NavigationManager NavigationManager

<h2>Créez votre dénonciation</h2>

<EditForm Model="@denonciation" OnValidSubmit="FormSubmitted">
    <div class="inter">
        <h3>Renseignements sur le délit</h3>
        <div class="section">
            <!-- Type de délit -->
            <div class="form-group">
                <label for="typeDelit">Type de Délit</label>
                <InputSelect class="form-control" id="typeDelit" @bind-Value="denonciation.TypeDelit">
                    @foreach (var delit in Enum.GetValues(typeof(TypeDelit)))
                    {
                        <option value="@delit">@delit</option>
                    }
                </InputSelect>
            </div>

            <!-- Pays d'évasion -->
            <div class="form-group">
                <label for="paysEvasion">Pays d'évasion</label>
                <InputText class="form-control" id="paysEvasion" @bind-Value="denonciation.PaysEvasion" placeholder="Exemple : Mali"/>
            </div>
        </div>
    </div>
    <hr>
    <div class="inter">
        <h3>Renseignements sur le suspect</h3>
        <div class="section">
            <!-- Informations du suspect -->
            <div class="form-group">
                <label for="nomSuspect">Nom du Suspect</label>
                <InputText class="form-control" id="nomSuspect" @bind-Value="denonciation.Suspect.Nom" placeholder="Exemple : Jackson"/>
            </div>
            <div class="form-group">
                <label for="prenomSuspect">Prénom du Suspect</label>
                <InputText class="form-control" id="prenomSuspect" @bind-Value="denonciation.Suspect.Prenom" placeholder="Exemple : Michael"/>
            </div>
        </div>
        <div class="section">
            <div class="form-group">
                <label for="numVoieSuspect">Numéro de Voie du Suspect</label>
                <InputNumber class="form-control" id="numVoieSuspect" @bind-Value="denonciation.Suspect.Adresse.NumeroVoie" min="0"/>
            </div>
            <div class="form-group">
                <label for="nomVoieSuspect">Nom de Voie du Suspect</label>
                <InputText class="form-control" id="nomVoieSuspect" @bind-Value="denonciation.Suspect.Adresse.NomVoie" placeholder="Exemple : Avenue de l'Europe"/>
            </div>
        </div>
        <div class="section">
            <div class="form-group">
                <label for="cpSuspect">Code Postal du Suspect</label>
                <InputNumber class="form-control" id="cpSuspect" @bind-Value="denonciation.Suspect.Adresse.CodePostal" placeholder="Exemple : 67000" min="0"/>
            </div>
            <div class="form-group">
                <label for="communeSuspect">Commune du Suspect</label>
                <InputText class="form-control" id="communeSuspect" @bind-Value="denonciation.Suspect.Adresse.NomCommune" placeholder="Exemple : Strasbourg"/>
            </div>
        </div>
    </div>
    <hr>
    <div class="inter">
        <h3>Renseignements sur l'informateur</h3>
        <div class="section">
            <!-- Informations de l'informateur -->
            <div class="form-group">
                <label for="nomInformateur">Nom de l'Informateur</label>
                <InputText class="form-control" id="nomInformateur" @bind-Value="denonciation.Informateur.Nom" placeholder="Exemple : Deschamps"/>
            </div>
            <div class="form-group">
                <label for="prenomInformateur">Prénom de l'Informateur</label>
                <InputText class="form-control" id="prenomInformateur" @bind-Value="denonciation.Informateur.Prenom" placeholder="Exemple : Didier"/>
            </div>
        </div>
        <div class="section">
            <div class="form-group">
                <label for="numVoieInformateur">Numéro de Voie de l'Informateur</label>
                <InputNumber class="form-control" id="numVoieInformateur" @bind-Value="denonciation.Informateur.Adresse.NumeroVoie" min="0"/>
            </div>
            <div class="form-group">
                <label for="nomVoieInformateur">Nom de Voie de l'Informateur</label>
                <InputText class="form-control" id="nomVoieInformateur" @bind-Value="denonciation.Informateur.Adresse.NomVoie" placeholder="Exemple : Rue du NullPointerException"/>
            </div>
        </div>
        <div class="section">
            <div class="form-group">
                <label for="cpInformateur">Code Postal de l'Informateur</label>
                <InputNumber class="form-control" id="cpInformateur" @bind-Value="denonciation.Informateur.Adresse.CodePostal" placeholder="Exemple : 68000" min="0"/>
            </div>
            <div class="form-group">
                <label for="communeInformateur">Commune de l'Informateur</label>
                <InputText class="form-control" id="communeInformateur" @bind-Value="denonciation.Informateur.Adresse.NomCommune" placeholder="Exemple : Strasbourg"/>
            </div>
        </div>
    </div>

    <div class="button-container">
        <!-- Boutons -->
        <button type="submit">Ajouter</button>
    </div>
</EditForm>

@code {
    readonly DenonciationAPI denonciation = new();

    private async Task FormSubmitted()
    {
        var id = await Services.AddDenonciationAsync(denonciation);
        if (id == null || !id.HasValue)
        {
            throw new InvalidOperationException("Échec de l'ajout de la dénonciation ou ID null.");
        }

        NavigationManager.NavigateTo($"/denonciation-result/{id.Value}");
    }

}