<div class="navbar">
    <ul class="ul-navbar">
        <li>
            <a id="home-link" class="active-green" href="/">
                <i class="fas fa-home"></i>
            </a>
        </li>
        <li>
            <a id="create-link" href="denonciation">DENONCER</a>
        </li>
        <li>
            <a id="edit-link" href="recherche">CONSULTER</a>
        </li>
        <p id="titleLogo"><span id="bleu">JeBalance</span><span id="gris">.gouv</span>.fr</p>
        <img id="logo" src="/favicon.ico" alt="Home"/>
    </ul>
</div>

<Modal Title="Confirmation de dénonciation">
    <ModalBody>
        Êtes-vous sûr de vouloir faire cette dénonciation?
    </ModalBody>
    <br/><br/>
    <ModalFooter>
        <button type="button" class="btn-primary" @onclick="Confirm">Confirmer</button>
        <button type="button" class="btn-secondary" @onclick="Cancel">Annuler</button>
    </ModalFooter>
</Modal>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter] public EventCallback<bool> OnConfirm { get; set; }

    private async Task Confirm()
    {
        await OnConfirm.InvokeAsync(true);
        await BlazoredModal.CloseAsync(ModalResult.Ok(true));
    }

    private async Task Cancel()
    {
        await BlazoredModal.CloseAsync(ModalResult.Cancel());
    }

}