@page "/recherche"
@inject DenonciationGetService Service

<h2>Recherche d'une dénonciation par ID</h2>

<EditForm Model="@denonciationId" OnValidSubmit="FetchData">
    <div class="form-group">
        <label for="denonciationId">Id de la dénonciation : </label>
        <InputText class="form-control" id="denonciationId" @bind-Value="denonciationId"/>
    </div>
    <div class="content">
        <button type="submit" class="btn btn-primary">Rechercher</button>
    </div>
</EditForm>

@if (denonciation != null)
{
    <p>Type de Délit : @denonciation.TypeDelit</p>
}


@code {
    private DenonciationGetAPI? denonciation;
    private string denonciationId = string.Empty;

    private async void FetchData()
    {
        denonciation = null; // Réinitialiser la dénonciation précédente


        denonciation = await Service.GetDenonciationAsync(Guid.Parse(denonciationId));
    }

}