@page "/recherche"
@inject NavigationManager NavigationManager

<div class="navbar">
    <ul class="ul-navbar">
        <li>
            <a id="home-link" class="active-green" href="/">
                <i class="fas fa-home"></i>
            </a>
        </li>
        <li>
            <a id="create-link" href="denonciation">DENONCER</a>
        </li>
        <li>
            <a id="edit-link" href="recherche">CONSULTER</a>
        </li>
        <p id="titleLogo"><span id="bleu">JeBalance</span><span id="gris">.gouv</span>.fr</p>
        <img id="logo" src="/favicon.ico" alt="Home"/>
    </ul>
</div>

<h2>Recherche d'une dénonciation par ID</h2>

<EditForm Model="@denonciationId" OnValidSubmit="Redirect">
    <div class="form-group">
        <label for="denonciationId">Id de la dénonciation : </label>
        <InputText class="form-control" id="denonciationId" @bind-Value="denonciationId"/>
    </div>
    <div class="content">
        <button type="submit">Rechercher</button>
    </div>
</EditForm>

@code {
    private string denonciationId = string.Empty;

    private async Task Redirect()
    {
        NavigationManager.NavigateTo($"/denonciation-result/{denonciationId}");
    }


}