@page "/delete-vip"
@using JeBalance.UI.Data.Services.SecreteAPI
@inject VIPServices Service

<span>Êtes-vous certain de vouloir supprimer définitivement ce VIP ?</span>
<br/><br/>
<button type="button" @onclick="SendDelete" class="btn-primary">Supprimer</button>
<button type="button" @onclick="@(async () => await BlazoredModal.CancelAsync())" class="btn-secondary">Annuler</button>


@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter] public int Id { get; set; }

    private async void SendDelete()
    {
        await Service.DeleteVIPAsync(Id);

        await BlazoredModal.CloseAsync(ModalResult.Ok(true));
    }

}