@using Microsoft.AspNetCore.Components.Web
@namespace JeBalance.UI.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Accueil | JeBalance.gouv.fr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="~/"/>
    <link href="css/site.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="JeBalance.UI.styles.css" rel="stylesheet"/>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
</head>
<body>
<div class="main-container">
    <div class="navbar">
        <ul class="ul-navbar">
            <li>
                <a id="home-link" class="active-green" href="/">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li>
                <a id="create-link" href="denonciation">DENONCER</a>
            </li>
            <li>
                <a id="edit-link" href="recherche">CONSULTER</a>
            </li>
            <p id="titleLogo"><span id="bleu">JeBalance</span><span id="gris">.gouv</span>.fr</p>
            <img id="logo" src="/favicon.ico" alt="Home"/>
        </ul>
    </div>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</div>
<footer>
    <p>© 2024 Fondement Corporation</p>
</footer>
</body>
</html>